<h1 class="my-4">
    Explorar
</h1>
<div class="row">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="txtSearch" placeholder="Buscar" ng-model="filter.strFilter">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div moment-picker="filter.startDate" locale="es" format="L"  min-view="month" max-view="month" today="true">
                <input type="date" class="form-control" placeholder="Fecha Inicio" ng-model="filter.startDate"  ng-model-options="{ updateOn: 'blur' }">
            </div> 
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div moment-picker="filter.endDate" locale="es" format="L" min-view="month" max-view="month" today="true">
                <input type="date" class="form-control" placeholder="Fecha Fin" ng-model="filter.endDate" ng-model-options="{ updateOn: 'blur' }">
            </div>  
        </div>
        <button type="submit" ng-click="search()" class="btn btn-primary mb-2">Buscar</button>
    </form>
</div>

<section ng-repeat="_news in news">
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ _news.imgURL }}">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{ _news.title }}</h3>
            <div class="content" ng-bind-html="_news.content | trust"></div>
            <div style="text-align:right">
                <small><strong>Fecha de publicación:</strong> {{ _news.publishedDate | date:"dd/MM/yyyy" }}</small>
            </div>
        </div>
    </div>
    <hr>
</section>